*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: "字魂27号-布丁体";;
}
#body{
	width: 100%;
	text-align: center;
}
button{
	cursor: pointer;
}
@font-face {
	font-family: Roboto-Regular;
	src: url('/cake/font/Roboto-Regular.ttf');
}
@font-face {
		font-family: Marvel-Regular;
		src: url('/cake/font/Marvel-Regular.ttf');
}
@font-face {
	font-family:'字魂27号-布丁体';
	src: url('/cake/font/字魂27号-布丁体.ttf');
}